stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","drupalExtraction","entityhubExtraction","dbpediaLinking"]
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.chain.weighted-0.10.0-SNAPSHOT.jar"
service.ranking=I"-2147483648"
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.0c1a2470-87d7-4d60-a55b-81e51a1f0e3e"
stanbol.enhancer.chain.name="default"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
