enhancer.engines.linking.minTokenScore=F"1060320051"
enhancer.engines.linking.dereference=B"true"
service.ranking=I"0"
service.factoryPid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
enhancer.engines.linking.caseSensitive=B"false"
enhancer.engines.linking.properNounsState=B"false"
enhancer.engines.linking.typeField="rdf:type"
enhancer.engines.linking.labelField="rdfs:label"
service.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.b45a43fb-ab4d-4d9d-9a94-b302674cdd8a"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-0.10.0-SNAPSHOT.jar"
enhancer.engines.linking.typeMappings=[""]
enhancer.engines.linking.redirectMode="IGNORE"
enhancer.engines.linking.entityhub.siteId="drupal"
stanbol.enhancer.engine.name="drupalExtraction"
enhancer.engines.linking.defaultMatchingLanguage=""
enhancer.engines.linking.suggestions=I"3"
