org.apache.stanbol.entityhub.yard.solr.useDefaultConfig=B"true"
org.apache.stanbol.entityhub.yard.solr.maxBooleanClauses=I"1024"
org.apache.stanbol.entityhub.yard.description="The\ Yard\ used\ by\ the\ Drupal-site\ to\ store\ the\ data"
org.apache.stanbol.entityhub.yard.defaultQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.solr.solrUri="drupalYard"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout=B"false"
org.apache.stanbol.entityhub.yard.maxQueryResultNumber=I"-1"
org.apache.stanbol.entityhub.yard.id="drupalYard"
org.apache.stanbol.entityhub.yard.name="Drupal\ Solr\ Yard"
