org.apache.stanbol.entityhub.site.id="drupal"
org.apache.stanbol.entityhub.site.name="Drupal"
org.apache.stanbol.entityhub.site.description="local\ copy\ of\ Drupal\ data"
org.apache.stanbol.entityhub.site.yardId="drupalYard"
org.apache.stanbol.entityhub.site.fieldMappings=["skos:prefLabel\ >\ rdfs:label","skos:altLabel\ >\ rdfs:label","foaf:name\ >\ rdfs:label","dc:title\ >\ rdfs:label","dc-elements:title\ >\ rdfs:label","schema:name\ >\ rdfs:label"]
