org.apache.stanbol.entityhub.site.fieldMappings=["skos:prefLabel\ >\ rdfs:label","skos:altLabel\ >\ rdfs:label","foaf:name\ >\ rdfs:label","dc:title\ >\ rdfs:label","dc-elements:title\ >\ rdfs:label","schema:name\ >\ rdfs:label"]
org.apache.stanbol.entityhub.site.name="Drupal"
service.factoryPid="org.apache.stanbol.entityhub.site.managed.YardSite"
service.bundleLocation="slinginstall:org.apache.stanbol.entityhub.site.managed-0.11.0-SNAPSHOT.jar"
org.apache.stanbol.entityhub.site.id="drupal"
org.apache.stanbol.entityhub.site.yardId="drupalYard"
service.pid="org.apache.stanbol.entityhub.site.managed.YardSite.22be9906-7fe9-48f9-9ef6-a98e1127fbfd"
org.apache.stanbol.entityhub.site.description="local\ copy\ of\ Drupal\ data"
