enhancer.engines.linking.caseSensitive=B"false"
enhancer.engines.linking.labelField="rdfs:label"
enhancer.engines.linking.properNounsState=B"false"
enhancer.engines.linking.suggestions=I"3"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
enhancer.engines.linking.dereference=B"true"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.typeField="rdf:type"
enhancer.engines.linking.minTokenScore=F"1060320051"
enhancer.engines.linking.defaultMatchingLanguage=""
stanbol.enhancer.engine.name="drupalExtraction"
enhancer.engines.linking.redirectMode="IGNORE"
service.ranking=I"0"
enhancer.engines.linking.typeMappings=[""]
enhancer.engines.linking.redirectField="rdfs:seeAlso"
enhancer.engines.linking.entityhub.siteId="drupal"
